@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
:root {
            --body-background: rgb(0, 0, 0);
            --hero-background: linear-gradient(rgb(17, 17, 17), rgb(119, 119, 119)) ;
            --second-background: rgba(255, 255, 255, 0.5);
            --input-background: rgba(255, 255, 255, 0.1);
            --button-color: rgb(230, 83, 60);
            --heading-text-color: rgb(255, 255, 255);
            --description-text-color: rgba(255, 255, 255, 0.5);
}
* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
}
body {
            height: 100vh;
            width: 100vw;
}
nav {
            padding: 20px 0px;
}
main, section {
            padding: 50px 0px;
}
h1, h2, h3 {
            font-family: "Inter", sans-serif;
            font-weight: 800;
            color: var(--heading-text-color);
}
h4, h5, h6 {
            font-family: "Inter", sans-serif;
            font-weight: 600;
            color: var(--heading-text-color);
}
img {
            width: 100%;
}
ul li {
            list-style: none;
            font-size: 15px;
            font-family: "Inter", sans-serif;
            font-weight: 500;
}
a {
            text-decoration: none;
            font-size: 15px;
            font-family: "Inter", sans-serif;
            font-weight: 500;
}
p {
            font-size: 15px;
            font-family: "Inter", sans-serif;
            font-weight: 500;
            color: var(--description-text-color);
}
button {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 15px;
            font-family: "Inter", sans-serif;
            font-weight: 500;
}
input, select,option {
            background-color: var(--input-background);
            font-size: 1rem;
            color: var(--description-text-color);
            font-family: "Inter", sans-serif;
            font-weight: 500;
            border: none;
            border-radius: 5px;
            padding: 15px 20px;
            text-align: left;
}
input:focus {
            outline: none;
}
body {
            background-color: var(--body-background);
}
.container {
            max-width: 1140px;
            margin: auto;
}
/* navbar style start */
nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
}
.nav-logo h3 {
            color: var(--button-color);
            font-style: italic;
            font-size: 2.2rem;
}
.nav-menu {
            border: 1px solid var(--description-text-color);
            border-radius: 25px;
}
.nav-menu ul {
            display: flex;
            gap: 50px;
            align-items: center;
            padding: 5px;
}
.nav-menu ul li a {
            color: var(--heading-text-color);
            padding: 10px 20px;
}
.nav-menu ul li:first-child {
            background-color: var(--button-color);
            padding: 10px 0px;
            border-radius: 25px;
}
.hamburger-icon {
            color: var(--heading-text-color);
            font-size: 1.5rem;
            display: none;
}
/* navbar style end */

/* main/hero section style start */
main {
            background: radial-gradient(rgba(255, 255, 255, 0.10), rgb(0, 0, 0));
}
.hero-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
}
.hero-text {
            max-width: 520px;
}
.hero-text h1 {
            font-size: 4.50rem;
            line-height: 75px;
}
.hero-text h1 span {
            font-family: 'Miama', sans-serif;
            font-weight: 300;
            font-size: 6.5rem;
}
.hero-desc {
            margin-top: 30px;
}
.hero-desc p {
            font-size: 1rem;
}
.hero-button {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            gap: 15px;
}
.hero-button button {
            padding: 15px 40px;
            color: var(--heading-text-color);
            border-radius: 25px;
}
.button-1 {
            background-color: var(--button-color);
            transition: 0.5s;
}
.button-1:hover {
            background: none;
            border: 1px solid var(--heading-text-color);
}
.button-2 {
            border: 1px solid var(--heading-text-color);
            transition: 0.5s;
} 
.button-2:hover {
            background-color: var(--button-color);
            border: none;
}
.hero-image {
            width: 350px;
}
.hero-image img {
            width: 100%;
}
.image-card-1 {
            background-color: rgba(255, 255, 255, 0.10);
            max-width: 190px;
            padding: 20px 30px;
            border-radius: 10px;
            position: absolute;
            top: 280px;
            right: 15px;
}
.image-card-1 h2 {
            font-size: 2.65rem;
}
.image-card-1 p {
            font-size: 0.80rem
}
.image-card-2 {
            background-color: rgba(255, 255, 255, 0.10);
            max-width: 190px;
            padding: 20px 30px;
            border-radius: 10px;
            position: absolute;
            bottom: -80px;
            right: 300px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
}
.image-card-2 img {
            max-width: 50px;
}
.image-card-2 h2 {
            font-size: 2.65rem;
}
.image-card-2 p {
            font-size: 0.80rem
}
/* main/hero section style end */
/* habits section style start */
.section-title {
            max-width: 500px;
            margin: auto;
}
.section-title h1 {
            text-align: center;
            font-size: 3rem;
}
.section-desc {
            max-width: 670px;
            margin: 20px auto;
}
.section-desc p {
            text-align: center;
}
.workout {
            padding: 50px 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
}
.box-image {
            max-width: 200px;
}
.box-image img {
            border-radius: 50%;
            width: 100%;
}
.box-title {
            max-width: 200px;
            margin-top: 30px;
}
.box-title h4 {
            font-size: 1.15rem;
            text-align: center;
}
.box-desc {
            max-width: 200px;
            margin-top: 10px;
}
.box-desc p {
            font-size: 0.85rem;
            text-align: center;
}
.habits-card {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            background-color: rgba(255, 255, 255, 0.15);
            padding: 30px;
            border-radius: 15px;
}
.card-text {
            max-width: 445px;
            display: flex;
            flex-direction: column;
}
.card-title {
            max-width: 300px;
}
.card-desc {
            margin-top: 30px;
}
.card-title h1 {
            font-size: 3rem;
}
.card-image {
            background: url("assets/run.jpg");
            background-position: 730px 780px;
            width: 365px;
            min-height: 322px;
            border-radius: 15px;
}
/* habits section style end */
/* bmi calculator style start */
.calculator-title, .calculator-desc {
            max-width: 670px;
            margin: auto;
}
.calculator-title h1 {
            font-size: 3rem;
            text-align: left;
}
.calculator-desc p {
            text-align: left;
}
#calculator {
            background-color: rgba(255, 255, 255, 0.20);
}
.calculator-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 50px;
}
.bmi-chart h1 {
            font-size: 1.75rem;
}
.chart-table table, tr, td {
            border: 1px solid var(--description-text-color);
            border-collapse: collapse;
            padding: 20px 40px;
            margin-top: 50px;
            color: var(--description-text-color);
            font-size: 0.85rem;
            font-family: "Inter", sans-serif;
            font-weight: 500;
}
.chart-table table thead tr td {
            color: var(--heading-text-color);
            font-size: 1rem;
}
.bmi-calculator {
            margin: 0px 30px;
}
.bmi-title h1 {
            font-size: 1.75rem;
}
.bmi-desc {
            margin-top: 20px;
            max-width: 570px;
}
.bmi-form {
            margin-top: 30px;
}
.bmi-form form {
            display: grid;
            grid-template-columns: 280px 280px;
            align-items: center;
            justify-content: center;
            gap: 20px;
}
.activity {
            grid-column: 1 / span 2;
}
.bmi-form form button {
            padding: 15px 40px;
            color: var(--heading-text-color);
            border-radius: 25px;
            background-color: var(--button-color);
}
/* bmi calculator style end */
/* our team section style start */
.team-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            background-color: rgba(255, 255, 255, 0.15);
            padding: 30px;
            border-radius: 10px;
}
.team-box {
            max-width: 340px;
            max-height: 260px;
            margin: auto;
}
.team-image {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            position: relative;
            overflow: hidden;
}
.team-image img {
            border-radius: 10px;
            width: 340px;
            height: 260px;
            object-fit: cover;
}
.team-name-role {
            margin: 20px;
            position: relative;
            bottom: 75px;
            overflow: hidden;
}
.team-name-role span {
            font-size: 15px;
            font-family: "Inter", sans-serif;
            font-weight: 500;
            color: var(--description-text-color);
}
/* our team section style end */
footer {
            padding: 10px 0px;
}


/* media query for mobile responsive */
@media screen and (max-width: 576px) {
            .container {
                        padding: 0px 25px;
            }
            /* navbar responsive style start */
            .nav-menu {
                        display: none;
            }
            .hamburger-icon {
                        display: block;
            }
            /* navbar responsive style end */
            /* main/hero section responsive style start */
            .hero-content {
                        flex-direction: column;
                        max-width: 350px;
                        margin: auto;
            }
            .hero-text h1 {
                        font-size: 2.50rem;
            }
            .hero-button {
                        align-items: center;
                        justify-content: center;
            }
            .hero-button button {
                        padding: 15px;
            }
            .image-card-1 {
                        top: 145%;
                        right: 15px;
            }
            .image-card-2 {
                        bottom: -470px;
                        right: 50%;
            }
            /* main/hero section responsive style end */
            /* habits section responsive style start */
            .workout {
                        flex-direction: column;
            }
            .section-title {
                        max-width: 335px;
            }
            .section-title h1 {
                        font-size: 2rem;
            }
            .section-desc {
                        max-width: 335px;
            }
            .habits-card {
                        flex-direction: column;
            }
            .card-title h1 {
                        font-size: 2rem;
            }
            .card-image {
                        background-position: 710px 780px;
                        background-size: auto;
                        width: 290px;
                        min-height: 182px;
            }
            .card-button button {
                        width: 100%;
            }
            /* habits section responsive style end */
            /* bmi calculator section responsive style start */
            .calculator-title, .calculator-desc {
            max-width: 320px;
            }
            .calculator-title h1 {
                        font-size: 2rem;
            }
            .calculator-content {
                        flex-direction: column;
            }
            .bmi-desc {
                        max-width: 320px;
            }
            .bmi-form form {
                        grid-template-columns: 180px 180px;
            }
            /* bmi calculator section responsive style end */
            /* team section responsive style start */
            .team-wrapper {
                        grid-template-columns: repeat(1, 1fr);
                        justify-content: center;
                        margin: auto;
            }
            /* team section responsive style end */
}